@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@600;700&display=swap');

.container-header-lista {
  display: flex;
  justify-content: flex-end;
  width: 560px;
}

.container-header-lista h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
  width: 137px;
  margin-right: 120px;
}
.container-header-lista button {
  margin-left: 16px;
  margin-top: 10px;
}

.container-lista {
  width: 560px;
  height: 627px;
  margin-left: 59px;
}

.lista-resumo {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 17px;
}
