@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

header {
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 39px;
  align-items: center;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

header img {
  width: 123px;
  height: 20px;
}

button {
  border-radius: 8px;
  height: 40px;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  font-size: 14px;
  line-height: 19px;
  color: #5b6166;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

button:hover{
  background: #5B6166;
  color:#fff;
}

.btn-red{
  background: #FD377E;
  color: #fff;
}

.btn-red:hover{
  background: #E34981;
  color:#F8F9FA;
}



main{
  width: 982px;
  display: flex;
  margin-left: 258px;
  margin-right: 260px;
}

